* {
    box-sizing: border-box;
    margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;

}

.top-box {
  background-color: #e5f3e8;
  box-sizing: border-box;
  height: 300px;
  margin: 0;
  text-align: center;
}

.header{
  color: #6d6e71;
  display: inline-block;
  font-size: 275%;
  margin:  16px;
}

.todo {
  color: #00a79d;
}

.save-btn:hover {
  background-color: #045e55;
}

.input-form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
    }

.inputs{
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 45%;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 14px;
}

.filter-input {
  height: 30px;
  margin: 0;
  width: 30%;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /*width: 400px;*/
}
.filter{
  margin: 5px;
  font-size: 18px;
  margin-right: 20px;
}

.save-btn,
.show-all-completed {
  background-color: #00a79d;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
}

.show-all-completed {
  background-color: #2059A5;
}

.card-container {
  margin: auto;
  margin-top: 16px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 45%;
  border-bottom: solid black 1px;
  max-height: 200px;
}

.card {
  background-color: #ffffff;
  height: auto;
  margin: auto;
  width: 45%;
}

.title-of-card {
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 140%;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.task-of-card{
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

button {
  background-color: transparent;
  border: none;
}

.upvote {
  background-image: url(./images/upvote.svg);
  background-size: cover;
  height: 20px;
  margin-right: 5px; 
  width: 20px;
}

.upvote:hover {
  background-color: transparent;
  background-image: url(./images/upvote-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.downvote {
  background-image: url(./images/downvote.svg);
  background-size: cover;
  height: 20px;
  margin-right: 5px; 
  width: 20px;
}

.downvote:hover {
  background-image: url(./images/downvote-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.delete-button {
  background-image: url(./images/delete.svg);
  background-size: cover;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.completed-task-button {
  border: solid 3px black;
  margin-top: 20px;

}

.completed-task {
  background-color: #F0F0F0;
}

.hidden{
  display: none;
}

@media(max-width: 700px) {

  .card-container {
      width: 85%;
  }
  .inputs{
    width: 85%;
    
  }

  .filter-input {
      border: solid #999 1px;
      width: 76%;
  }
  .container{
    min-width: 200px;
  }
}

